.cell{
    background-color: aquamarine;
    border: 1px solid white;
    cursor: pointer;
}
.cell:hover{
    background-color: rgb(57, 190, 190);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard{
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
}